.app {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1 1 auto;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.button {
  display: inline-block;
}

.team-turn-tracker {
  height: 51px;
  flex: 1 1 100%;
  border-bottom: 1px solid #a1a4ae;
}

.team-turn-tracker div {
  width: 50%;
  display: inline-block;
  padding: 10px 0;
}

.team-turn-tracker div:first-child {
  border-right: 1px solid #a1a4ae;
  width: calc(50% - 1px);
}

.blue-active .team-turn-tracker .blue {
  background-color: #3333c1;
}

.red-active .team-turn-tracker .red {
  background-color: #ce3c3c;
}

.cards {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
}

.cards li {
  border: 1px solid #a1a4ae;
  padding: 2em;
  flex: 1 1 auto;
  margin: .5em;
  position: relative;
}

.captain .cards li:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  border-left: 1px solid #a1a4ae;
  border-bottom: 1px solid #a1a4ae;
  top: 0;
  right: 0;
}

.cards li.blue:before {
  background-color: #3333c1;
}

.cards li.red:before {
  background-color: #ce3c3c;
}

.cards li.black:before {
  background-color: #181a20;
}

.cards li.neutral:before {
  background-color: grey;
}

.choosen-team-red.red-active:not(.captain) .cards li:hover {
  background-color: #181a20;
  cursor: pointer;
}

.choosen-team-blue.blue-active:not(.captain) .cards li:hover {
  background-color: #181a20;
  cursor: pointer;
}

.cards li .id {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .6em;
  padding: 2px 6px;
}

.clue-tracker {
  padding: 8px;
  background-color: #181a20;
  border-bottom: 1px solid #a1a4ae;
  text-align: left;
  font-size: 16px;
}

.clues {
  margin: 0 0 10px;
  padding: 6px 0 0;
  list-style: none;
}

.submit-clue {
  padding: 4px;
}

.submit-clue input {
  width: 100%;
  padding: 4px;
  border: 1px solid #a1a4ae;
  margin-bottom: 2px;
}

@media (min-width: 700px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .clue-tracker {
    border-right: 1px solid #a1a4ae;
    border-bottom: none;
    flex: 0 1 200px;
  }

  .container {
    flex: 1 1 400px;
  }
}
