.app {
  text-align: center;
   height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #fff;
  display: grid;
  grid-template-rows: 10px 1fr;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.card-container {
  overflow-y: scroll;
  display: flex;
  flex-flow: column;
}

.random-guess {
  padding: 10px;
  border-bottom: 1px solid #a1a4ae;
  background-color: #3b3f4b;
}

.random-guess p {
  max-width: 600px;
  margin: 0 auto 0;
  font-size: .8em;
}

.random-guess .button {
  margin-bottom: 0;
}

.game-info {
  font-size: 10px;
  background-color: #3b3f4b;
  display: flex;
  flex-flow: row wrap;
}

.game-info > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  box-shadow: 1px 1px #a1a4ae;
  padding: 8px 10px;
}

.game-info .latest-clue {
  font-size: 12px;
}

.latest-clue .clue {
  margin-left: 8px;
}

.latest-clue .word {
  font-size: 16px;
  margin-right: 5px;
}

.latest-clue .number {
  font-size: 16px;
  margin-left: 5px;
}

.game-info .team {
  border-left: 1px solid #a1a4ae;
}

.game-info .team .choosen-team {
  margin-right: 5px;
}

.square {
  height: 10px;
  width: 10px;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  border: 1px solid #a1a4ae;
}

.square.red {
  background-color: #ce3c3c;
}

.square.blue {
  background-color: #3333c1;
}

.button {
  display: inline-block;
  -webkit-appearance: none;
  padding: 4px 11px;
  margin: 5px;
  cursor: pointer;
  background-color: #1c1d20;
  color: #fff;
}

.button:hover {
  background-color: #07090e;
}

.button:focus {
  outline: #61dafb auto 5px;
}

.input {
  -webkit-appearance: none;
}

.team-turn-tracker {
  border-bottom: 1px solid #a1a4ae;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 3;
}

.team-turn-tracker div:first-child {
  border-right: 1px solid #a1a4ae;
}

.blue-active .team-turn-tracker .blue {
  background-color: #3333c1;
}

.red-active .team-turn-tracker .red {
  background-color: #ce3c3c;
}

.cards {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0;
  padding: 10px 26px;
  justify-content: center;
  overflow-y: scroll;
  flex: 1 1 auto;
}

.cards li {
  border: 1px solid #a1a4ae;
  padding: 1.5em 1em;
  flex: 0 1 300px;
  margin: .5em;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: .7em;
}

.cards li.picture {
  padding: 0;
  min-height: 300px;
}

.cards li:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.cards li.picture:before {
  opacity: .9;
}

.captain .cards li:before {
  width: 15px;
  height: 15px;
  border-left: 1px solid #a1a4ae;
  border-bottom: 1px solid #a1a4ae;
}

.captain .cards li.revealed:before,
.cards li.revealed:before {
  width: 100%;
  height: 100%;
  border: none;
}

.cards li.blue:before {
  background-color: #3333c1;
}

.cards li.red:before {
  background-color: #ce3c3c;
}

.cards li.black:before {
  background-color: #181a20;
}

.cards li.neutral:before {
  background-color: grey;
}

.choosen-team-red.red-active:not(.captain) .cards li:hover {
  background-color: #181a20;
  cursor: pointer;
}

.choosen-team-blue.blue-active:not(.captain) .cards li:hover {
  background-color: #181a20;
  cursor: pointer;
}

.cards li .id {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .6em;
  padding: 2px 6px;
}

.cards li .word {
  position: relative;
}

.clue-tracker {
  padding: 8px;
  background-color: #181a20;
  border-bottom: 1px solid #a1a4ae;
  text-align: left;
  display: none;
}

.clues {
  padding: 6px 6px 10px;
}

.clues ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clues .clue {
  margin-left: 5px;
}

.submit-clue input {
  width: 100%;
  padding: 4px;
  border: 1px solid #a1a4ae;
  margin-bottom: 3px;
}

.submit-clue .button {
  margin: 2px 0 0;
}

.clue-tracker-toggle {
  position: fixed;
  top: 15vh;
  border-top: 1px solid #a1a4ae;
  border-right: 1px solid #a1a4ae;
  border-bottom: 1px solid #a1a4ae;
  height: 70px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 25px;
  align-items: center;
  cursor: pointer;
  background-color: #3b3f4b;
}

.clue-tracker-toggle:hover {
  background-color: #30333f;
}

.clue-tracker-toggle img {
  margin-bottom: 5px;
  width: 10px;
}

.app.game-board {
  grid-template-columns: 1fr;
}

.app.game-board.show-clue-tracker {
  grid-template-columns: 90% 1fr;
}

.app.game-board.show-clue-tracker .clue-tracker {
  display: block;
}

.app.game-board.show-clue-tracker .cards,
.app.game-board.show-clue-tracker .game-info {
  visibility: hidden;
}

@media (min-width: 700px) {
  .container {
    flex: 1 1 400px;
  }

  .clue-tracker {
    border-right: 1px solid #a1a4ae;
    border-bottom: none;
    font-size: .5em;
  }

  .clue-tracker .clues {
    flex: 1 1 auto;
    overflow-y: scroll;
  }

  .clue-tracker .clues ul {
    height: 100%;
  }

  .clue-tracker .submit-clue {
    flex: 0 1 auto;
  }

  .cards li {
    font-size: .8em;
  }

  .game-info > div:not(.latest-clue) {
    flex: 0 1 auto;
  }

  .app.game-board.show-clue-tracker {
    grid-template-columns: 250px 1fr;
  }

  .app.game-board.show-clue-tracker .cards,
  .app.game-board.show-clue-tracker .game-info {
    visibility: visible;
  }
}
